<?xml version="1.0" encoding="UTF-8"?><widget id="A6945417262377" version="0.0.1">
  	<name>rizuge</name>
	<description>
		Example For APICloud.
	</description>
	<author email="developer@apicloud.com" href="http://www.apicloud.com">
		Developer
	</author>
	<content src="index.html"/>
	<preference name="appBackground" value="rgba(0,0,0,0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="pageBounce" value="false" />
	<preference name="autoUpdate" value="true"/>
	<preference name="smartUpdate" value="false"/>
	<preference name="debug" value="false"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="location"/>
	<permission name="internet"/>
	<preference name="softInputMode" value="pan"/>
	<access origin="*"/>
	<preference name="customRefreshHeader" value="UIPullRefreshMotive"/>
	<feature name="bMap">
		<param name="android_api_key" value="wnxvtS3Xipuey1sMmes6IXTEANywtXi3" />
		<param name="ios_api_key" value="UGaqn4lcq6qCz86ED48GcW3eZmY6xk8f" />
	</feature>
	<feature name="rongCloud2">
		<param name="appKey" value="0vnjpoad0c64z" />
	</feature>
</widget>