#fang{
    /*border:1px solid red;*/
}
#search_box{
    padding: 10px 5px;
}
#search_div{
    padding-top: 1px;
    height:30px;
    width:100%;
    border:1px solid #eee;
    background-color: #eee;
    border-radius: 10px;
}
#search_div span{
    /*position: absolute;*/
    /*top:0px;*/
    /*left:0px;*/
    /*line-height: 30px;*/
    font-size: 14px;
    /*display: inline-block;*/
    color:#707070;
}
#fang{
    line-height: 1rem;
}